@import "./style/font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer utilities{
  .en{
    font-family: 'Comic Neue', sans-serif;
  }
  .cn{
    font-family: 'fontslab-dongmanerciyuanRg', sans-serif;
  }
}