@import "./style/font.css";

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base{
  .en{
    font-family: 'Comic Neue', sans-serif;
  }
  .cn{
    font-family: 'fontslab-dongmanerciyuanRg', sans-serif;
  }
}

@theme {
  --color-darkBg: #3B3B3A;
}